// Added to prevent accidental left-right swipes on Chrome/Firefox using CSS. 
// There is another JS property that works for Safari in app.component.ts
::ng-deep html, ::ng-deep body {
    overscroll-behavior-x: none;
}

::ng-deep .display-inline-block {
    display: inline-block !important;
}

::ng-deep .display-inline {
    display: inline !important;
}

::ng-deep .nowrap {
    white-space: nowrap !important;
}

::ng-deep .float-left {
    float: left !important;
}

::ng-deep .cursor-pointer {
    cursor: pointer;
}

::ng-deep re-captcha>div {
    margin: 0 auto;
}

/**
* Blurs the text to hide values that could be prone to bias. 
*/
::ng-deep .blurry-text {
    color: transparent;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/*
    Spacings. Use these instead of <br/>
*/
::ng-deep .vspace-lg {
    margin-top: 24px;
}

::ng-deep .vspace-md {
    margin-top: 16px;
}

::ng-deep .vspace-sm {
    margin-top: 8x;
}

/*
    Margins.
*/
::ng-deep .m-sm {
    margin: 8px;
}

::ng-deep .m-md {
    margin: 16px;
}

::ng-deep .m-xs {
    margin: 4px;
}

::ng-deep .mb-0 {
    margin-bottom: 0px;
}

::ng-deep .mb-sm {
    margin-bottom: 8px;
}

::ng-deep .mt-sm {
    margin-top: 8px;
}

::ng-deep .ml-sm {
    margin-left: 8px;
}

::ng-deep .mr-sm {
    margin-right: 8px;
}

::ng-deep .mb-xs {
    margin-bottom: 2px;
}

::ng-deep .mt-xs {
    margin-top: 2px;
}

::ng-deep .ml-xs {
    margin-left: 2px;
}

::ng-deep .mr-xs {
    margin-right: 2px;
}

::ng-deep .ml-sm {
    margin-left: 4px;
}

::ng-deep .mr-sm {
    margin-right: 4px;
}

::ng-deep .mb-md {
    margin-bottom: 16px;
}

::ng-deep .mt-md {
    margin-top: 16px;
}

::ng-deep .ml-md {
    margin-left: 16px;
}

::ng-deep .mr-md {
    margin-right: 16px;
}

::ng-deep .mw-md {
    margin-left: 16px;
    margin-right: 16px;
}

::ng-deep .mw-sm {
    margin-left: 8px;
    margin-right: 8px;
}

::ng-deep .mw-xs {
    margin-left: 4px;
    margin-right: 4px;
}

::ng-deep .mw-lg {
    margin-left: 24px;
    margin-right: 24px;
}

::ng-deep .m-none {
    margin: 0;
}

/*
    Paddings.
*/
::ng-deep .p-sm {
    padding: 8px;
}

::ng-deep .p-md {
    padding: 16px;
}

::ng-deep .p-xs {
    padding: 4px;
}

::ng-deep .pb-sm {
    padding-bottom: 8px;
}

::ng-deep .pt-sm {
    padding-top: 8px;
}

::ng-deep .pl-sm {
    padding-left: 8px;
}

::ng-deep .pr-sm {
    padding-right: 8px;
}

::ng-deep .pb-xs {
    padding-bottom: 4px;
}

::ng-deep .pt-xs {
    padding-top: 4px;
}

::ng-deep .pr-xs {
    padding-right: 4px;
}

::ng-deep .pl-xs {
    padding-left: 4px;
}

::ng-deep .pt-sm {
    padding-top: 4px;
}

::ng-deep .pl-sm {
    padding-left: 4px;
}

::ng-deep .pb-md {
    padding-bottom: 16px;
}

::ng-deep .pt-md {
    padding-top: 16px;
}

::ng-deep .pl-md {
    padding-left: 16px;
}

::ng-deep .pr-md {
    padding-right: 16px;
}

::ng-deep .pw-md {
    padding-left: 16px;
    padding-right: 16px;
}

::ng-deep .pw-sm {
    padding-left: 8px;
    padding-right: 8px;
}

::ng-deep .pw-xs {
    padding-left: 4px;
    padding-right: 4px;
}

::ng-deep .pw-lg {
    padding-left: 24px;
    padding-right: 24px;
}

::ng-deep .p-none {
    padding: 0;
}

::ng-deep .pl-0 {
    padding-left: 0;
}

::ng-deep .pr-0 {
    padding-right: 0;
}

::ng-deep .pt-0 {
    padding-top: 0;
}

::ng-deep .pb-0 {
    padding-bottom: 0;
}

/*
    Center-align  elements, both vertically and horizontally
*/
::ng-deep .center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
    Box-shadow
*/
::ng-deep .box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 24px;
    margin-top: 24px;
}


/*
    Card Header
*/
::ng-deep .card-header-compact {
    padding: 2px !important;
}

::ng-deep .card-body-compact {
    padding: 8px !important;
}

::ng-deep .card-header-custom-border {
    border-bottom: 0 !important;
}

::ng-deep .card-header-hover:hover {
    // background: #efefef !important;
    cursor: pointer;
}

::ng-deep .card {
    border-radius: 0;
    border-color: #efefef;
}

/** 
* ng-select
*/
::ng-deep .ng-dropdown-panel {
    width: auto !important;
}

/** 
* ng-multiselect-dropdown
*/
::ng-deep .selected {
    stroke: black;
}

::ng-deep .selected-item {
    border-radius: 6px !important;
    background: #999 !important;
    border: 1px solid #ccc !important;
    margin-bottom: 4px !important;
    font-size: 0.9rem;
}

::ng-deep .dropdown-down,
::ng-deep .dropdown-up {
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

::ng-deep .dropdown-down {
    border-top: 8px solid #999 !important;
}

::ng-deep .dropdown-up {
    border-bottom: 8px solid #999 !important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"]+div:before {
    border: 2px solid #999 !important;
}

::ng-deep .multiselect-item-checkbox input[type="checkbox"]:checked+div:before {
    background: #999 !important;
}

/** 
 * Quantitative Range Slider
 */
::ng-deep .q-filter-slider nouislider {
    // margin-top: 3em; // Uncomment this if the tooltips are shown at all times.
    margin-bottom: 2.5em;
    margin-left: 5%;
    width: 90%;
    font-size: 0.8em;
}

::ng-deep .noUi-target {
    height: 5px !important;
}

::ng-deep .noUi-base:hover {
    cursor: pointer;
}

::ng-deep .noUi-connect {
    height: 5px !important;
    background: #999 !important;
}

::ng-deep .noUi-connect:hover {
    cursor: pointer;
}

::ng-deep .noUi-handle {
    width: 15px !important;
    height: 20px !important;
    padding: 0 !important;
    margin: 0 !important;
}

::ng-deep .noUi-handle:hover {
    cursor: pointer;
}

::ng-deep .noUi-horizontal .noUi-handle {
    top: -9px !important;
    right: -8px !important;
}

::ng-deep .noUi-tooltip {
    padding: 2px;
    background: #999;
    border: 1px solid #ccc;
    color: white;
}

::ng-deep .noUi-tooltip:hover {
    cursor: pointer;
}

::ng-deep .noUi-handle:after,
::ng-deep .noUi-handle:before {
    display: none;
}

::ng-deep .noUi-pips-horizontal {
    padding: 4px;
}

::ng-deep .noUi-value-large {
    top: 0px !important;
}

::ng-deep .noUi-marker-large {
    height: 8px !important;
}

::ng-deep .noUi-tooltip {
    display: none !important;
}

::ng-deep .noUi-active .noUi-tooltip {
    display: block !important;
}

/** 
 * Overlay Panel arrow on the left/right
 */
::ng-deep .p-overlaypanel:after,
::ng-deep .p-overlaypanel:before {
    left: calc(var(--overlayArrowLeft, 0) + 0.5rem) !important;
}

::ng-deep .p-overlaypanel.p-overlaypanel:before {
    border-bottom-color: #dddddd;
}

::ng-deep .p-overlaypanel.p-overlaypanel-flipped:before {
    border-top-color: #dddddd;
}

::ng-deep .p-overlaypanel {
    border-radius: 0 !important;
}

/** 
 * Tab View panels
 */
::ng-deep .p-tabview-panels {
    padding: 0px !important;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 0.75rem !important;
}


/** App Background Colors */
::ng-deep .bg-content {
    background: #EFF3F7 !important;
}

/** Progress Bar */
::ng-deep .p-progressbar {
    height: 0.6em !important;
}

/** Data table */
::ng-deep .p-datatable .p-datatable-thead>tr>th {
    padding: 0.4rem 0.6rem !important;
}

/** pInputText Input Field */
::ng-deep .p-inputtext {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

/** Color Legend */
::ng-deep .sequential-color-legend {
    height: 12px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #eeeeee, #42a5f5);
}

::ng-deep .divergent-color-legend {
    height: 12px;
    border-radius: 3px;
    background-image: linear-gradient(to right, #ef9a9a, #eeeeee, #a5d6a7);
}

// ::ng-deep table {
//     table-layout: fixed
// }

::ng-deep .table-xs td,
::ng-deep .table-xs th {
    padding: 0.2rem;
}

::ng-deep .btn-xs {
    padding: 0.1rem 0.3rem;
    line-height: 1rem;
}

::ng-deep .muted {
    color: #cccccc !important;
    // background-color: #cccccc !important;
}

::ng-deep .muted .btn {
    color: #cccccc !important;
    // background-color: #cccccc !important;
}

::ng-deep .panel-heading {
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 0.9rem;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
    padding: 3px 6px !important;
}

::ng-deep .multiselect-dropdown .dropdown-multiselect__caret {
    padding: 0 !important;
    right: -5px !important;
}


::ng-deep .nav-link {
    padding: 0.1rem 0.5rem;
}

::ng-deep #vg-tooltip-element {
    z-index: 2000;
}

::ng-deep .ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell,
::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    padding: 0;
}

::ng-deep .ngx-datatable.bootstrap .datatable-footer .page-count {
    height: 24px;
    line-height: 24px;
    padding: 0 1rem;
}

::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager ul li {
    margin: 0;
}

::ng-deep .col-form-label {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

::ng-deep .ng-select .ng-select-container {
    border-color: #ddd;
}

::ng-deep .overflow{
    overflow: auto;
}


::ng-deep .h-fullpanel {
    height: calc(100vh) !important;
}


::ng-deep .w-100 {
    width: 100% !important;
}

::ng-deep .h-100 {
    height: 100% !important;
}

::ng-deep .customDropZone {
    background: #fff;
    color: gray;
}

::ng-deep .customDropZoneActive {
    background: rgba(52, 152, 219, 0.2);

    .p-dropdown {
        background: rgba(52, 152, 219, 0.2);
    }

    .ng-select-container {
        background: rgba(52, 152, 219, 0.2);
    }

    .p-multiselect-label-container{
        background: rgba(52, 152, 219, 0.2);
    }
}

::ng-deep .highlightCard{
    background: orange;
}

::ng-deep .vradiogroup{
    display: inline-block;
    text-align: center;
}

::ng-deep .vradiogroup label{
    display: block;
}

::ng-deep .nopadding{
    padding-inline-start: 8px;
}

::ng-deep .visPlaceholder{
    background: #eeeeee;
    border: 1px solid #dddddd;
    width: 100%;
    height: 100%;
}

::ng-deep .disableViewAndInteractions{
    pointer-events: none; /* Disables mouse clicks and cursor events */
    filter: blur(20px); /* Blurs the content */
}

::ng-deep .provenance-dropdown {
    width: 100% !important;
    margin-left: 0 !important;
}

::ng-deep .provenance-multiselect {
    width: calc(100% - 24px) !important;
}

::ng-deep .p-multiselect .p-multiselect-label{
    padding: 0.15rem 0.5rem;
}

::ng-deep .p-card{
    box-shadow: none !important;
}

::ng-deep .p-card .p-card-body, ::ng-deep .p-card .p-card-content{
    padding: 0 !important;
}

::ng-deep .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  ::ng-deep .embed-responsive::before {
    display: block;
    content: "";
  }
  
  ::ng-deep .embed-responsive .embed-responsive-item,
  ::ng-deep .embed-responsive iframe,
  ::ng-deep .embed-responsive embed,
  ::ng-deep .embed-responsive object,
  ::ng-deep .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  ::ng-deep .embed-responsive-21by9::before {
    padding-top: 42.857143%;
  }
  
  ::ng-deep .embed-responsive-16by9::before {
    padding-top: 56.25%;
  }
  
  ::ng-deep .embed-responsive-4by3::before {
    padding-top: 75%;
  }
  
  ::ng-deep .embed-responsive-1by1::before {
    padding-top: 100%;
  }